/* Navbar */
.navbar{
    text-align: left;
}
/* index */

/* contact */
.contactbody{
    text-align: center;
}
/* artifacts */

/* biography */
#name{
    text-align: center;
}

#biobody{
    text-align: center;
}
