/* general */
body{
    background-color: #8D8E8E;
}
.sep{
    color: #FAFAFA;
    border: none;
    height: 5px;
    background-color: #475B5A;
}
/* Navbar */
.navbar{
    align-items: center;
    overflow: hidden;
    background-color: #52D1DC;
    color: #475B5A;
    height: 75px;
}
/* index */
#indextitle{
    text-align: center;
}
#indexbody{
    text-align: center;
}
/* contact */
#contitle{
    text-align:center;
}
.contactbody{
    text-align: center;
}
#contact{
    text-align: center;
    background-color: #8D8E8E;
}
/* artifacts */
#artititle{
    text-align: center;
}
#artititletwo{
    text-decoration-line: underline;
}
/* biography */
#name{
    text-align: center;
}
#biobody{
    text-align: center;
}
#biotitle{
    text-decoration-line: underline;
}
#list{
    text-align: left;
}
